@media screen and (max-width: 1313px) {
  .rating__wrapper {
    padding-left: 0;
  }

  .table tr td:nth-child(2) img {
    width: 20px;
  }
}

@media screen and (max-width: 1292px) {
  .features {
    flex-direction: column;
  }

  .content__wrapp {
  
    margin-bottom: 20px;
  }
  .features__wrapp {
    margin-left: 0;
    border-radius: 16px;
    width: 50%;
  }

  .features-banner__background {
    width: 100%;
    max-height: 571px;
  }
}

@media screen and (max-width: 1252px) {
  .features-banner__data {
    padding: 20px;
  }

  .features-banner__title {
    font-size: 28px;
  }
  .features-banner__title span{
    font-size: 16px;
  }
}

@media screen and (max-width: 1288px) {
  .features__table td:nth-child(1) {
    width: 45%
  }
  .features__table td:nth-child(2) {
    width: 55%;
    padding-left: 5px;
  }
  
}

@media screen and (max-width: 1233px) {
  
  .table tr td:nth-child(2) img {
    width: 18px;
  }
  .ratings__wrap {
    gap: 0;
  }
}

@media screen and (max-width: 1183px) {
  .ratings__wrap {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 328px;
    min-height: max-content;
  }
  .rating__table,
  .ratings__img {
    width: 100%;
  }
  
  .table tr td:nth-child(2) img {
    width: 24px;
  }
  .features-banner__title span {
    font-size: 22px;
}

  .content__wrapp {
    flex-direction: column;
  }
  .features-banner__title {
    font-size: 32px;
}

  .features__wrapp{
  width: 100%;
  height: 368px;
  }

  .features-banner__data {
    padding: 40px;
}

  .features__list {
    width: 100%;
  }
  .features .content__wrapp-last{
    flex-direction: column;
  }

}

@media screen and (max-width: 1161px) {
  .hero__background img {
    object-position: 1%;
  }


}

@media screen and (max-width: 1053px) {
  /* -------------------------- */
  .header__menu {
    display: none;
  }
  .header__btn-menu {
    display: block;
    background: #0b0c21;
    border: 1px solid #ffd400;

    border-radius: 8px;
  }
  .header__btn-menu.active {
    background: #0b0c21;
  }

  .header__btn-menu svg {
    display: block;
    margin: 0;
  }
  .header__btn-menu svg rect {
    transform-origin: 50% 50%;
    transition: all 0.5s;
  }

  .header__btn-menu.active svg rect:nth-child(1) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(225deg);
  }

  .header__btn-menu.active svg rect:nth-child(3) {
    opacity: 0;
  }

  .header__btn-menu.active svg rect:nth-child(2) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(135deg);
  }

  .header__menu {
    display: none;
    position: fixed;
    top: 67px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #0b0c21;
    text-align: center;
    opacity: 0;
    padding: 20px 50px;
    transition: height 0.5s ease, opacity 0.5s ease;
    z-index: 100;
    overflow-y: auto;
  }

  .header__menu.active {
    display: block;
    height: 100vh;
    opacity: 1;
  }
  .header {
    z-index: 101;
  }
  .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
  }
  .header__menu ul li {
    font-size: 14px;
    white-space: nowrap;
  }

  .header__menu-list li + li {
    margin-left: 0;
  }

  .header__menu ul li + li {
    margin-top: 10px;
  }
  .menu ul {
    gap: 5px;
  }

  .menu ul li:not(:last-child) {
    margin-right: 0;
  }

  .menu ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header__btn {
    display: inline-block;
  }

  .header__btn a.header__btn-login,
  .header__btn a.header__btn-signin {
    display: block;
    min-width: 220px;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__btn a.header__btn-signin {
    margin-top: 16px;
  }

  /* ----------------------- */
}

@media screen and (max-width: 1017px) {
  .sidebar {
    display: none;
  }
  .page-nav {
    display: block;
  }
  .main {
    display: block;
  }
  .content__wrapper {
    margin-left: 0;
  }
  .header__logo {
    margin-right: auto;
  }
  .features-banner__data {
    
 
  max-width: 1000px;
  height: 400px;
}}
  




@media screen and (max-width: 750px) {

  .hero__title{
    font-size: 38px;
    line-height: 40px;
  }

}


@media screen and (max-width: 649px) {
  
  .hero{
    padding: 10px;
    align-items: center;
    
  }

  .hero__data{
    height: 400px;
  }
}

@media screen and (max-width: 595px) {
  .header__button-login {
    display: none;
  }

  .features-banner__data {
    max-width: 500px;
    height: 300px;
}
  
}


@media screen and (max-width: 577px) {
  .table tr td:nth-child(3) {
    display: none;
  }

  .table tr td:nth-child(2) img {
    width: 20px;
    height: 20px;
  }
  .hero {
    padding: 20px;
  }

  .footer__cards li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
  }

  .features-banner__data {
    max-width: 450px;
    height: 300px;
}
}


@media screen and (max-width: 536px) {

  .features-banner__title {
    font-size: 28px;
    line-height: 40px;
  }

  .features-banner__title span {
    font-size: 18px;
  }
  .features__table td:nth-child(1) {
    width: 45%;
  }
  .features__table td:nth-child(2) {
    width: 55%;
  }
.hero__data{
  padding: 16px;
}
}

@media screen and (max-width: 518px) {
  .footer__menu {
    gap: 10px;
    padding: 10px;
  }

  .ratings__img img {
    height: auto;
  }
  .features-banner__data {
    padding: 10px;
  
  
  }
}

@media screen and (max-width: 478px) {
  

  .features-banner__title {
    font-size: 22px;
    line-height: 32px;
  }

  .features-banner__title span {
    font-size: 14px;
  }

  .features__button {
    width: 220px;
  }

  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrap img {
    margin-bottom: 16px;
  }

  .footer__wrap p {
    text-align: center;
  }

  .footer__cards li {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }

}

@media screen and (max-width: 463px) {
  .header__button-signin {
    display: none;
  }

  .features__table td:nth-child(1) {
    font-weight: 400;
    font-size: 13px;
    width: 50%;
  }
  .features__table td:nth-child(2) {
    width: 50%;
    font-size: 12px;
  }
  
}

@media screen and (max-width: 457px) {
  .table tr td:nth-child(2) img {
    width: 18px;
    height: 18px;
  }

  .faq__subtitle::after {
    top: 12px;
    transform: none;
  }

  .faq__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 455px) {
  .table tr td:nth-child(2) img {
    width: 16px;
    height: 16px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 40px;
  }

  .hero__button {
    width: 220px;
  }

  .hero__text {
    margin-bottom: 16px;
  }

  h2,
  .title.high {
    font-size: 28px;
    line-height: 40px;
  }
}



@media screen and (max-width: 414px) {
  .table tr td:nth-child(2) img {
    display: none;
  }

  .table tr td:nth-child(3) {
    display: block;
  }

  .features__table td:nth-child(1) {
    font-size: 12px;
  }
  .features__table td:nth-child(2) {
    font-size: 11px;
    padding-left: 5px;
  }
  .features__table td {
    white-space: normal;
  }
 
}

@media screen and (max-width: 391px) {
  .hero__title {
    font-size: 32px;
  }

  .hero__data {
    padding: 10px;
  }
  .features-banner__data {
    max-width: 450px;
    
}
  
}

@media screen and (max-width: 376px) {
  .features-banner__title {
    font-size: 18px;
    line-height: 24px;
  }

  .features-banner__title span {
    font-size: 12px;
  }

  .features__button {
    width: 200px;
  }
  .features-banner__data {
    height: 200px;
    
}

 
  .features__wrapp {
    height: 250px;
  }
}

@media screen and (max-width: 365px) {
  

  .hero__title{
    line-height: 34px;
  }
  .hero__text{
    line-height: 20px;
  }
  .hero__rating{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 353px) {
  
   .hero__data{
    padding: 10px;
   }

   .hero__title {
    font-size: 28px;
}
}


/* ------------page bonus------------- */

@media screen and (max-width: 1293px) {
  .banner__background img {
    object-position: 5%;
  }
}

@media screen and (max-width: 1252px) {
  .banner__data-bonus {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
   
   
  }
}


@media screen and (max-width: 1113px) {
  .banner__data-bonus,
  .banner .banner__title {
    align-items: center;
  }

  .banner__button{
    margin-left: auto;
  }

  .banner__data-bonus p {
    text-align: center;
  }
}


@media screen and (max-width: 750px) {
  .breadcrumbs {
    justify-content: center;
  }
}

@media screen and (max-width: 716px) {
  .banner__bonus {
    padding: 20px;
  }
}
@media screen and (max-width: 691px) {
  .banner__wrapper {
    flex-direction: column;
  }
  .banner__bonus {
    width: 100%;
  }
}


@media screen and (max-width: 455px) {
  .hero__data-bonus {
    padding: 10px;
  }
  .banner__bonus{
    justify-content: center;
    align-items: stretch;
  }

  .banner__data-bonus{
    width: 400px;
    
  }

  .banner__data .banner__title{
    font-size: 22px;
    line-height: 24px;
  }

  .banner__button{
    margin-top: 16px;
  }


}

@media screen and (max-width: 391px) {
  .button-page {
    width: 200px;
  }
 
}

@media screen and (max-width: 378px) {

   .banner__bonus{
    padding: 10px;
   align-items: center
   }
}

@media screen and (max-width: 357px) {
  .banner__bonus{
    height: 260px;
  }
  .banner__data-bonus {
    padding: 10px;
    
  }
}

/* ----------------page app ---------- */
@media screen and (max-width: 1336px) {
  .banner__background-app img {
    object-position: 5%;
  }
}

@media screen and (max-width: 754px) {
  .banner__content-app {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .banner__logo {
    flex: none;
    margin-right: 0;
  }

  .banner__content-app {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    z-index: 1;
    padding: 40px 50px;
  }

  .banner__btn {
    border: 1px solid #ffffff;
  }
}
@media screen and (max-width: 502px) {
  .banner__logo {
    width: 200px;
  }
}

@media screen and (max-width: 423px) {
  .banner__logo {
    width: 200px;
  }

  .banner__app {
    justify-content: center;
  }

 

  .banner__btn {
    width: 220px;
  }
}

@media screen and (max-width: 390px) {
  .banner__content-app {
    padding: 30px;
  }

}
@media screen and (max-width: 390px) {
  .banner__content-app {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 349px) {
  .banner__content-app {
    padding: 20px;
  }
}


